* {
 box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.first-section{
  width: 100vw;
  height: 100vh;
  background-color: #E9D5A1;
}
/* .header{
  
  background-color: #E9D5A1;
} */
.logo{
  width: 0;
	height: 0;
  position: relative;
	border-left: 85px solid #000;
    border-bottom: 100px solid transparent;
}
.logo-image{
  width: 40px;height: 40px;
  position: absolute;
  top: 12px;
  transform: rotate(310deg);
  left: -71px;
}
